.check {
  padding: 100px 0;
  &-title {
    text-align: center;
    font-size: 40px;
    margin-bottom: 30px;
    color: var(--yellow-2);
    text-transform: uppercase;
  }
  .container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  &-item {
    background-color: #000;
    box-shadow: 0 6px 20px 0 rgb(255 235 167 / 25%);
    padding: 40px 20px;
    &__title {
      text-transform: capitalize;
      font-size: 24px;
      margin-bottom: 25px;
      &.subtitle {
        font-size: 20px;
      }
    }
  }
  &-payment {
    width: 100%;
    margin-bottom: 40px;
    @include md("sd") {
      width: 47%;
      margin-bottom: initial;
    }
    @include md("md") {
      width: 60%;
    }
    .check-item__title {
      &.subtitle {
        padding-left: 20px;
      }
      svg {
        color: var(--green-light);
      }
    }
  }
  &-total {
    width: 100%;
    @include md("sd") {
      width: 50%;
    }
    @include md("md") {
      width: 35%;
    }
    .check-item__title {
      &.subtitle {
        margin-bottom: 10px;
      }
      &:last-child {
        color: var(--yellow-2);
      }
    }
    .d-flex {
      margin-bottom: 25px;
      &.s-margin {
        margin-bottom: 5px;
      }
    }
    .btn-order {
      width: 100%;
      height: initial;
      padding: 10px 0;
      background-color: transparent;
      border: 1px solid var(--yellow);
      color: var(--yellow);
      &:hover {
        color: var(--yellow-2);
        transition: all 250ms linear;
      }
    }
  }
  &-card {
    border: 1px solid var(--white-gr);
    padding: 15px;
    display: flex;
    align-items: center;
    margin-bottom: 30px;
    transition: all 250ms linear;
    &.checked {
      border: 1px solid var(--yellow);
      transition: all 250ms linear;
    }
    input {
      margin: 0;
      margin-right: 20px;
    }
    label {
      display: flex;
      align-items: center;
      width: calc(100% - 13px);
      cursor: pointer;
    }
    &__info {
      margin-left: 30px;
      text-transform: capitalize;
      .issur {
        margin-bottom: 10px;
        font-size: 19px;
      }
      .name {
        margin-bottom: 10px;
      }
      .delete {
        border: none;
        background-color: transparent;
        color: var(--yellow);
        padding: 0;
        cursor: pointer;
      }
    }
  }
  .btn-add {
    height: initial;
    padding: 10px 20px;
    background-color: transparent;
    border: 1px solid var(--yellow);
    color: var(--yellow);
    &:hover {
      color: var(--yellow-2);
      transition: all 250ms linear;
    }
  }
}